.toast-container {
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toast {
  display: flex;
  flex-direction: row;
  gap: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  animation-name: appearing;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.toast::after {
  content: "";
  width: 100%;
  height: .25rem;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  animation-name: progressing;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.toast-content {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.toast-icon {
  color: rgba(0, 0, 0, .4);
}

.toast-button {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0 .5rem;
  transition: .3s ease all;
}

.toast-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toast-close-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.toast-closing {
  animation-name: disappearing;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes appearing {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappearing {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(calc(100% + 2rem));
  }
}

@keyframes progressing {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}