.toast-container {
  position: fixed;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.toast-left {
  left: 2rem;
}

.toast-center {
  left: 50%;
  transform: translateX(-50%);
}

.toast-right {
  right: 2rem;
}

.toast-top {
  top: 2rem;
  flex-direction: column;
}

.toast-bottom {
  bottom: 2rem;
  flex-direction: column-reverse;
}

.toast-bottom .toast {
  animation-name: appearing-bottom;
}

.toast-top .toast {
  animation-name: appearing-top;
}

.toast {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.toast-autoClose::after {
  content: "";
  width: 100%;
  height: .25rem;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  animation-name: progressing;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.toast-content {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.toast-icon {
  color: rgba(0, 0, 0, .4);
  height: 20px;
  width: 20px;
}

.toast-button {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0 .25rem;
  transition: .3s ease all;
}

.toast-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toast-close-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.toast-closing {
  animation-name: disappearing !important;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes appearing-bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearing-top {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappearing {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(calc(100% + 2rem));
    opacity: 0;
  }
}

@keyframes progressing {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}